.parent {
    width: 100%;
    height: 100%;
}

.block {
    width: 800px;
    margin: 0 auto;
    height: auto;
    display: block;
}

.decor {
    position: relative;
    max-width: 500px;
    margin: -30px auto 0;
    background: white;
    border-radius: 30px;
}
.form-left-decoration, .form-right-decoration {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    background: #f69a73;
    border-radius: 20px;
}
.form-left-decoration {
    bottom: 60px;
    left: -30px;
}
.form-right-decoration {
    top: 60px;
    right: -30px;
}
.form-left-decoration:before, .form-left-decoration:after, .form-right-decoration:before, .form-right-decoration:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 30px;
    background: white;
}
.form-left-decoration:before {
    top: -20px;
}
.form-left-decoration:after {
    top: 20px;
    left: 10px;
}
.form-right-decoration:before {
    top: -20px;
    right: 0;
}
.form-right-decoration:after {
    top: 20px;
    right: 10px;
}
.circle {
    position: absolute;
    bottom: 80px;
    left: -55px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
}
.form-inner {
    padding: 50px;
}
.form-inner input, .form-inner select, .form-inner option {
    display: block;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #E9EFF6;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}
.form-inner input[type="submit"] {
    margin-top: 30px;
    background: #f69a73;
    border-bottom: 4px solid #d87d56;
    color: white;
    font-size: 14px;
}

.form-inner select, .form-inner option {
    display: block;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #E9EFF6;
    line-height: 40px;
    height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}

.form-inner h3 {
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #707981;
}

.table_col {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    width: 800px;
    background: white;
    text-align: left;
    border-collapse: collapse;
    color: #3E4347;
}

.table_col td:first-child {
    color: #8b8e91;
    border-left: none;
}

.table_col th {
    font-weight: normal;
    border-bottom: 2px solid #F5E1A6;
    border-right: 20px solid white;
    border-left: 20px solid white;
    padding: 8px 10px;
}

.table_col td {
    border-right: 20px solid white;
    border-left: 20px solid white;
    padding: 12px 10px;
    color: #8b8e91;
}


@import url(https://fonts.googleapis.com/css?family=Lora);
body {margin:0;}
h2 {
    font-family: monospace;
    color: #606060;
}
ul {
    list-style: none;
    margin: 0 auto;
}
a {
    text-decoration: none;
    font-family: 'Lora', serif;
    transition: .5s linear;
}
i {
    margin-right: 10px;
}
nav {
    display: block;
    width: 800px;
    margin: 0 auto 30px;
}

.four ul {
    display: -webkit-flex;
    display: flex;
    background: #FFD7A7;
    padding-left: 0;
}
.four a {
    padding: 1em;
    display: block;
    color: #9B4222;
    border-right: 1px solid #FFAB51;
    background: rgba(255, 171, 81, .3);
}
.four a:hover {background: #FFAB51}

* {
    box-sizing: border-box;
}
/* body {
   background: #f69a73;
} */


